.app-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;   
    width: 100%;
    margin-left: 80px;
    transition: margin-left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
                width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 36px;
}

.main-content.sidebar-open {
    margin-left: 310px;
    
}
