.landing-page {
	min-height: 100vh;
	background: var(--theme-white);
}

.landing-header {
	display: flex;
    height: 65px;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-bottom: solid 1px #DDE2E8;
}


.header-container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 24px;
}

.logo {
	font-size: 1.2rem;
	font-weight: 700;
	color: #0058A3;
	letter-spacing: 1px;
}

nav.landing-nav {
    display: flex;
    gap: 16px;
}

.landing-nav .heading-nav-btn {
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.15s;
    box-shadow: none;
    outline: none;
}

.landing-nav .primary-btn {
    background: transparent;
    color: black;
}

.landing-nav .primary-btn:hover {
    color: var(--theme-blue);
    background: var(--transparent-blue);
    box-shadow: 0 2px 8px 0 rgba(0,88,163,0.10);

}

.landing-nav .secondary-btn {
    color: var(--theme-white);
    background: var(--theme-blue);
}

.landing-nav .secondary-btn:hover {
    background: #003e73;
    color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,88,163,0.18);

}

.section-container {
    height: 100%;
    width: 100%;
    max-width: 1024px;
}

section.hero-section {
    height: auto;
    padding: 80px 16px;
    display: flex;
    justify-content: center;

}

.hero-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 896px;
    width: 100%;
}

.hero-target {
    background: var(--transparent-blue);
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 999px;
    margin-bottom: 24px;
    gap: 6px;
}

.hero-target p {
    margin: 0;
    color: var(--theme-blue);
    font-size: 14px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
    width: 100%;
}

.hero-desc {
    font-size: 20px;
    text-align: center;
    max-width: 672px;
    margin: 0 auto 32px;
    color: var(--muted-text);
    line-height: 1.5;
}

.hero-btns {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    gap: 20px;
}

.hero-btns .btns {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.hero-btns .btns button {
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 6px;
}

.hero-btns .primary-btn {
    background-color: #0058A3;
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

.hero-btns .secondary-btn {
    background-color: var(--theme-white);
    border: solid 1px var(--theme-blue);
    color: var(--theme-blue);
}

section.feature-section {
    padding: 64px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-container h2 {
    text-align: center;
    margin: 0 0 48px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    height: auto;
}

.grid-card {
    padding: 24px 0;
    border-radius: 16px;
    border: solid 1px #DDE2E8;
}

.grid-card .grid-flex-card {
    padding: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.feature-icon {
    background-color: var(--transparent-blue);
    border-radius: 8px;
    height: 48px;
    width: 48px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    height: auto;
    flex: 1;
}

.card-info h3{
    margin: 0 0 8px;
}

.card-info p {
    margin: 0;
    color: var(--muted-text);
    line-height: 1.5;
}

.barangay-section {
    padding: 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barangay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barangay-container h2 {
    text-align: center;
    margin: 0 0 16px;
}

.barangay-container p {
    margin: 0 0 32px;
    color: var(--muted-text);
}

.barangay-lists {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.barangay {
    background-color: var(--transparent-blue);
    padding: 8px 16px;
    border-radius: 999px;
    color: var(--theme-blue);
}

section.redirect-reg {
    padding: 64px 16px;
    background-color: var(--theme-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--theme-white);
}

.redirect-reg-container h2 {
    margin: 0 0 16px;
}

.redirect-reg-container p {
    margin: 0 0 36px;
    text-align: center;
}

.redirect-reg-container .btn {
    border: none;
    height: 40px;
    padding: 0 16px;
    border-radius: 6px;
    color: var(--theme-blue);
    background-color: var(--theme-white);
    font-weight: bold;
    cursor: pointer;
}


footer {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-name {
    margin: 0 0 8px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: var(--muted-text);
}

@media (max-width: 768px) {
    .landing-header {
        height: 60px;
    }

    nav.landing-nav {
        gap: 8px;
    }

    .hero-title {
        font-size: 36px;
    }


    .header-container {
        padding: 0 16px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }
}

