.landing-container {
	min-height: 100vh;
	background: var(--theme-white);
}

.landing-header {
	display: flex;
    height: 65px;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-bottom: solid 1px #DDE2E8;
}


.header-container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 24px;
}

.logo {
	font-size: 1.2rem;
	font-weight: 700;
	color: #0058A3;
	letter-spacing: 1px;
}

nav.landing-nav {
    display: flex;
    gap: 16px;
}

.landing-nav > button {
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.landing-nav .sign-in-btn {
    background: transparent;
}

.landing-nav .get-started-btn {
    color: var(--theme-white);
    border-radius: 8px;
    background: #0058A3;
}

.section-container {
    height: 100%;
    width: 100%;
    max-width: 1024px;
}

section.hero-section {
    height: auto;
    padding: 80px 16px;
    display: flex;
    justify-content: center;

}

.hero-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 896px;
    width: 100%;
}

.hero-target {
    background: var(--transparent-blue);
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 999px;
    margin-bottom: 24px;
    gap: 6px;
}

.hero-target p {
    margin: 0;
    color: var(--theme-blue);
    font-size: 14px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
    width: 100%;
}

.hero-desc {
    font-size: 20px;
    text-align: center;
    margin: 0 112px 32px;
    color: var(--muted-text);
    line-height: 1.5;
}

.hero-btns {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    gap: 20px;
}

.hero-btns button {
    height: 100%;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}

.btn-reg-sk {
    background-color: #0058A3;
    color: white;
    border: none;
}

.btn-reg-ym {
    background-color: var(--theme-white);
    border: solid 1px var(--theme-blue);
    color: var(--theme-blue);
}

section.feature-section {
    padding: 64px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-container h2 {
    text-align: center;
    margin: 0 0 48px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    height: auto;
}

.grid-card {
    padding: 24px 0;
    border-radius: 16px;
    border: solid 1px #DDE2E8;
}

.grid-card .grid-flex-card {
    padding: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.feature-icon {
    background-color: var(--transparent-blue);
    border-radius: 8px;
    height: 48px;
    width: 48px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    height: 70px;
    flex: 1;
}

.card-info h3{
    margin: 0 0 8px;
}

.card-info p {
    margin: 0;
    color: var(--muted-text);
    line-height: 1.5;
}

.barangay-section {
    padding: 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barangay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barangay-container h2 {
    text-align: center;
    margin: 0 0 16px;
}

.barangay-container p {
    margin: 0 0 32px;
    color: var(--muted-text);
}

.barangay-lists {
    display: flex;
    gap: 24px;
}

.barangay {
    background-color: var(--transparent-blue);
    padding: 8px 16px;
    border-radius: 999px;
    color: var(--theme-blue);
}

section.redirect-reg {
    padding: 64px 16px;
    background-color: var(--theme-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--theme-white);
}

.redirect-reg-container h2 {
    margin: 0 0 16px;
}

.redirect-reg-container p {
    margin: 0 0 36px;
}

.redirect-reg-container button {
    border: none;
    height: 40px;
    padding: 0 16px;
    border-radius: 6px;
    color: var(--theme-blue);
    background-color: var(--theme-white);
    font-weight: bold;
}

footer {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-name {
    margin: 0 0 8px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: var(--muted-text);
}